* {box-sizing: border-box;}

.blogPost {
  border: 2px;
  border-color: #0E2240;
  border-style: solid;
  padding-left: 10px;
  width: 70%;
  margin: auto;
}

.author {
  font-style: italic;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0E2240;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  cursor: pointer;
  background-color: #111;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
